<div class="row formreg section offset-header has-pattern box-new">
	<div class="col-md-12">
	<div class="container">
	<div class="row" style="margin-top: 45px;">
    <div id="regform" class="panel panel-default col-md-offset-3">	
<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @family_member.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @family_member.firstname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @family_member.email %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @family_member.mobilephone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @family_member.contact %>
</p>

<p>
  <strong>City:</strong>
  <%= @family_member.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @family_member.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @family_member.state %>
</p>

<p>
  <strong>Username:</strong>
  <%= @family_member.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @family_member.password %>
</p>

<%= link_to 'Edit', edit_family_member_path(@family_member) %> |
<%= link_to 'Back', family_members_path %>

<div>
<div>
<div>
<div>
<div>