<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @profile.middle_initial %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @profile.nick_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>


<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @profile.zip %>
</p>


<p>
  <strong>Contact method:</strong>
  <%= @profile.contact_method %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
