- if @employee.company.notification_masking
  - first_last_name = "#{@lovedone.first_name} #{@lovedone.last_name[0]}"
- else
  - first_last_name = "#{@lovedone.first_name} #{@lovedone.last_name}"
%p= "Late Notice - Employee: #{@employee.first_name} #{@employee.last_name}; Loved One: #{first_last_name}; Appointment Time: #{@time}"