-#- if request.url.index('calculations')==nil
-#  = link_to 'Calculate Notifications', calc_notifications_path, class: 'btn btn-success pull-right'
.clearfix
%div{style: "height: 500px; overflow: auto; margin-top: 10px;"}
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr.bg-success
        %th Employee
        %th Loved One
        %th Sent to
        %th Status
        %th Type
        / <th colspan="3"></th>
    %tbody
      - unless @notifications.nil?
        - @notifications.each do |notification|
          %tr
            %td= notification.employee.name unless notification.employee.nil?
            %td= notification.lovedone.first_name if notification.lovedone and notification.lovedone.first_name
            %td
              - if notification.follower
                = notification.follower.name
              - elsif  notification.primary_contact
                = notification.primary_contact.user.name
            %td= notification.status
            %td= notification.notification_type
