= form_for @timesheet do |f|
  - if @timesheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timesheet.errors.count, "error")} prohibited this timesheet from being saved:"
      %ul
        - @timesheet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :starttime
    = f.datetime_select :starttime
  .field
    = f.label :endtime
    = f.datetime_select :endtime
  .field
    = f.label :lovedone_id
    = f.number_field :lovedone_id
  .field
    = f.label :employee_id
    = f.number_field :employee_id
  .field
    = f.label :provider_id
    = f.number_field :provider_id
  .field
    = f.label :company_id
    = f.number_field :company_id
  .actions
    = f.submit 'Save'