.row
	.col-md-12
		%h4.text-center
			Assign Company to
			=@lovedone.name
		%br
		%table.table.table-hover
			%thead
				%tr
					%th Name
					%th Business name
					%th Provider type
					%th Telephone
					%th Mobile phone number
					%th Get notification
					%th Address
					%th City
					%th State
					%th Zip
					%th Contact last name
					%th Contact first name
					%th Status
					%th Actions
			%tbody
				- @companies.each do |company|
					%tr
						%td= company.company_name
						%td= company.business_name
						%td= company.provider_type
						%td= company.telephone
						%td= company.mobile_phone_number
						%td= company.get_notification
						%td= company.address
						%td= company.city
						%td= company.state
						%td= company.zip
						%td= company.contact_last_name
						%td= company.contact_first_name
						%td= company.status
						%td
							= simple_form_for(@provider, url: lovedone_lovedonecompanies_path(@lovedone), html: {class: 'form-horizontal'})  do |f|
								= f.input :company, as: :hidden, input_html: {value: company.id}
								= f.submit 'Assign now', class: 'btn btn-success btn-sm pull-right'
