<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title><%#= content_for?(:title) ? yield(:title) : "SafetyNotice.com - Safety for Seniors – Peace of Mind for their Families" %></title>-->
    <title>SafetyNotice.com - Safety for Seniors – Peace of Mind for their Families</title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SafetyNotice.com - Safety for Seniors – Peace of Mind for their Families" %>">

    <%= favicon_link_tag 'favicon.ico' %>
    <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
      
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>
      $.ajax({
        url: '/state_county.json',
        async: false,
        dataType: 'json',
        success: function (response) {
          states = response;
        }
      });
    </script>

    <script>
      $(function(){
        setTimeout(function(){$('.alert').fadeOut()}, 5000);
        document.domain = document.domain;
        try{
          if(parent!=self && parent.document.getElementById('headtype')!=null){
            console.log(parent.document.getElementById('headtype'));
            var headtype = parent.document.getElementById('headtype').value;
            if(headtype=="true"){
              $('header, footer').hide();
              $('body, main, .offset-header').css({
                'margin-top':0,
                'padding-top':0
              })
            }
          }
        }catch(e){

        }
      });
    </script><script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

  </head>
  <body data-no-turbolink>
    <%unless params[:nohead]=="true"%>
      <header>
        <%= render 'layouts/navigation' %>
      </header>
    <%else%>
      <style>
        body{margin-top: 0; padding-top:0;}
        main{margin-top: 0;}
        .offset-header{padding-top: 20px;}
      </style>
    <%end%>
    <main role="main">
       <%=render 'layouts/messages'%>

       <%= yield %>
    </main>
  <%unless params[:nohead]%>
     <footer class="footer">
        <div class="container">
          <p class="text-center">Copyright © <%= Time.zone.now.year %> Averlent Corporation</p>
        </div>
     </footer>
  <%end%>
  <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>

  </body>
</html>
